body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.animate-wheel {
  animation: spin 4s linear infinite;
}

.animate-item-ylevel {
  position: absolute;
  animation-name: ylevel;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    color: orange;
  }
  100% {
    transform: rotate(360deg);
    color: rgb(8, 77, 180);
  }
}

@keyframes ylevel {
  0% {
    color: orange;
    /* left: 20px;
        top: 20px; */
    transform: translateY(-10px);
  }

  50% {
    color: blue;
    /* left: 40px;
        top: 40px; */
    transform: translateY(0px);
  }

  100% {
    color: orange;
    /* left: 20px;
        top: 20px; */
    transform: translateY(-10px);
  }
}
